<h1>Open source Shakespeare data</h1>
<p>The fun starts at <%= link_to "admin", :rails_admin %>: you might need to register.</p>
<p>DBAD! Built on the hard work of others at:</p>

<ul>
  <li><a href="https://github.com/edent/Open-Source-Shakespeare">https://github.com/edent/Open-Source-Shakespeare</a></li>
  <li><a href="http://www.opensourceshakespeare.org/">http://www.opensourceshakespeare.org/</a></li>
</ul>

<p>Source code: <a href="https://github.com/mozz100/bardofavon">https://github.com/mozz100/bardofavon</a></p>

<p>Data file: <a href="https://raw.github.com/mozz100/bardofavon/master/db/initial_data.sql">https://raw.github.com/mozz100/bardofavon/master/db/initial_data.sql</a></p>

<p>More background:<a href="https://github.com/edent/Open-Source-Shakespeare/issues/1">https://github.com/edent/Open-Source-Shakespeare/issues/1</a></p>

<p><a href="http://www.rmorrison.net">Richard Morrison</a></p>