<h1><%= link_to @chapter.work.Title, @chapter.work %></h1>
<h2><%= chapter_title @chapter %></h2>

<table>
  <% @paragraphs.each do |paragraph| %>
    <%= render paragraph %>
  <% end %>
</table>

<%= link_to_next_chapter %>