<tr>
  <% if paragraph.character.abbrev == 'xxx' %>
    <td colspan="2">
      <i><%= simple_format paragraph.plain_text %></i>
    </td>
  <% elsif paragraph.character.abbrev == 'Poet' %>  
    <td colspan="2">
      <%= simple_format paragraph.plain_text %>
    </td>
  <% else %>
    <td class="character">
        <p><b><%= paragraph.character.name %>:</b></p>
    </td>
    <td>
        <%= simple_format paragraph.plain_text %>
    </td>
  <% end %>
</tr>